/* .vitepress/theme/style.css */
:root {
    .vp-doc h2{
        border-top: none;

    }
    
  }

:root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #00dd30, #00bfff);

    /* hero logo背景渐变色 */
    --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg,#00dd30 50%,#00bfff 50%);
    --vp-home-hero-image-filter: blur(72px);
}

:root {
    .image-src {
        border-radius: 50%;
    }
}