/* .vitepress/theme/style.css */
:root {
    .vp-doc h2{
        border-top: none;

    }
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #00dd30, #00bfff);

    /* --vp-home-hero-image-color: transparent; */
    /* --vp-home-hero-image-filter: blur(72px);
    --vp-home-hero-image-background-image: -webkit-linear-gradient(120deg, #00dd30, #00bfff); */
  }

